@font-face {
	font-family: open-sans;
	src: url(open-sans-regular.ttf);
}

@font-face {
	font-family: open-sans;
	src: url(open-sans-bold.ttf);
	font-weight: bold;
}

:root {
	--primary: hsl(180, 50%, 40%);
	--primary-focus: hsl(180, 50%, 20%);
	--secondary: hsl(0, 0%, 100%);
	--text: hsl(210, 10%, 40%);
	--text-focus: hsl(210, 10%, 20%);
	--error: hsl(15, 75%, 50%);
	--font: open-sans;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 48px;
	background-color: var(--primary);
	color: var(--text);
	font-family: var(--font);
	font-size: 18px;
}

.wrapper {
	width: 512px;
}

.logo {
	display: block;
	width: 256px;
	margin: 0 auto 24px auto;
}

.logo img {
	width: 100%;
}

.content {
	border-radius: 48px;
	padding: 48px;
	background-color: var(--secondary);
}

.error {
	border-radius: 16px;
	padding: 12px;
	text-align: center;
	color: var(--secondary);
	background-color: var(--error);
}

form {
	margin: 0;
}

.input {
	transition: color 0.25s;
}

.input:focus-within {
	color: var(--text-focus);
}

.label {
	font-size: 16px;
	line-height: 32px;
}

input {
	display: block;
	width: 100%;
	height: 48px;
	border-radius: 16px;
	background-color: inherit;
	color: inherit;
	border: 2px solid var(--text);
	outline: none;
	padding: 12px;
	font-family: var(--font);
	font-size: inherit;
	transition: color 0.25s, border 0.25s;
}

input:focus {
	border: 2px solid var(--text-focus);
	color: var(--text-focus);
}

input[type=submit] {
	margin-top: 32px;
	background-color: var(--primary);
	color: var(--secondary);
	border: none;
	cursor: pointer;
	transition: background-color 0.25s;
}

input[type=submit]:hover {
	background-color: var(--primary-focus);
}

.message {
	color: var(--text);
	text-align: center;
}

.user {
	font-weight: bold;
}

.token {
	margin-top: 32px;
}

.code {
	color: var(--text);
	font-size: 64px;
	text-align: center;
}